<div data-scroll-to-active="true" class="main-menu menu-fixed menu-dark menu-accordion menu-shadow">
    <!-- main menu header-->
    <div class="main-menu-header">
        <input type="text" placeholder="Buscar" class="menu-search form-control round" />
    </div>
    <!-- / main menu header-->
    <!-- main menu content-->
    <div class="main-menu-content">
        <ul id="main-menu-navigation" data-menu="menu-navigation" class="navigation navigation-main">

            <li routerLinkActive="active" class=" nav-item">
                <a routerLink="home">
                    <i class="icon-home3"></i>
                    <span data-i18n="nav.dash.main" class="menu-title">Inicio</span>
                </a>
            </li>

            <li routerLinkActive="active" class=" nav-item">
                    <a routerLink="cultivos">
                        <i class="icon-database2"></i>
                        <span data-i18n="nav.dash.main" class="menu-title">Cultivos</span>
                    </a>
                </li>

            <li class=" nav-item">
                <a href="#">
                    <i class="icon-lab2"></i>
                    <span data-i18n="nav.page_layouts.main" class="menu-title">
                        Históricos turbidez
                    </span>
                </a>
            </li>

            <li class=" nav-item">
                <a href="#">
                    <i class="icon-magic-wand"></i>
                    <span data-i18n="nav.project.main" class="menu-title">
                        Históricos oxigenación
                    </span>
                </a>
            </li>

            <li class=" nav-item">
                <a href="#">
                    <i class="icon-sun4"></i>
                    <span data-i18n="nav.cards.main" class="menu-title">
                        Históricos temperatura
                    </span>
                </a>
            </li>

            <li class=" nav-item">
                <a href="#">
                    <i class="icon-stats-bars22"></i>
                    <span data-i18n="nav.cards.main" class="menu-title">
                        Históricos PH
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <!-- /main menu content-->
    <!-- main menu footer-->
    <!-- include includes/menu-footer-->
    <!-- main menu footer-->
</div>